@page "/group-subscriptions"
@using Daridakr.ProgGuru.Web.Pages.Subscriptions
@using Microsoft.Extensions.Localization
@using Daridakr.ProgGuru.Localization
@using Volo.Abp.Users
@model GroupSubscriptionIndexModel
@inject IStringLocalizer<ProgGuruResource> L
@inject ICurrentUser CurrentUser
@section styles {
    <abp-style src="/Pages/Index.css" />
}
@section scripts
{
    <abp-script src="/Pages/Subscriptions/GroupSubscriptionIndex.js" />
}

<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.4.0/clipboard.min.js"></script>

@if (CurrentUser.IsInRole("admin"))
{
    <div class="wrapper">
    <div class="content">
<abp-card style="margin-top: 55px">
    <abp-card-header style="background: transparent !important">
        <abp-row>
            <abp-column size-md="_3">
                <h2>@L["GroupSubscriptions"]</h2>
            </abp-column>
            <abp-column size-md="_9" class="text-right">
                <div class="dt-buttons btn-group flex-wrap">
                        <button id="copy-button" data-clipboard-target="#GroupSubscriptionsTable" class="btn btn-secondary buttons-copy buttons-html5"
                        tabindex="0" aria-controls="datatable-buttons" type="button">
                            <span>@L["Copy"]</span>
                        </button>
                        <button id="printTable" class="btn btn-secondary buttons-print" tabindex="0" aria-controls="datatable-buttons" type="button">
                            <span>@L["Print"]</span>
                        </button>
                </div>     
            </abp-column>
        </abp-row>
    </abp-card-header>
     <abp-card-body>
         <table id="GroupSubscriptionsTable" class="table table-striped" style="background: #1D2F5D !important">
    <thead>
        <tr>
            <th>@L["Actions"]</th>
            <th>@L["User"]</th>
            <th>@L["Group"]</th>
            <th>@L["Date"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var groupSubscription in Model.GroupSubscriptions)
        {
            <tr>
                <td>
                    <button value="@groupSubscription.GroupId" name="@groupSubscription.CreatorId" id="unsubscribe" style="color:white !important"
                    class="btn btn-link btn-warning btn-icon btn-sm edit" data-toggle="modal" tabindex="0" aria-controls="datatable-buttons" type="button">
                             <i class="fa fa-close"></i>
                    </button>
                </td>
                <td><a class="text-primary" href="/users/@groupSubscription.CreatorUserName" target="_blank">@groupSubscription.CreatorUserName</a></td>
                <td><a class="text-primary" href="/groups/@groupSubscription.GroupId" target="_blank">@groupSubscription.GroupTitle</a></td>
                <td>@groupSubscription.CreationTime</td>
            </tr>
        }
    </tbody>
</table>
     </abp-card-body>
</abp-card>
    </div>
</div>
}
else
{
    <div class="wrapper">
        <div class="content" style="margin-top:250px">
           <center>
               <h1 class="title" style="font-size:100px">403</h1>
               <p>@L["PermissionError"]</p>
               <a href="/" class="btn btn-primary" role="button">@L["BackToHome"]</a>
           </center>
        </div>
    </div>
}

<script src="~/scripts/core/jquery.min.js" type="text/javascript"></script>
<script src="~/scripts/core/popper.min.js" type="text/javascript"></script>
<script src="~/scripts/core/bootstrap.min.js" type="text/javascript"></script>
<script src="~/scripts/plugins/perfect-scrollbar.jquery.min.js"></script>
<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
<script src="~/scripts/black-dashboard.js?v=1.0.0" type="text/javascript"></script>
